extends layout

block navigation
	<div class="navigation">
		<input type="checkbox" class="navigation__checkbox" id="navi-toggle">
		<label for="navi-toggle" class="navigation__button">
			<span class="navigation__icon">&nbsp;</span>
		</label>
		<div class="navigation__background">&nbsp;</div>
		<nav class="navigation__nav">
			<ul class="navigation__list">
				<li class="navigation__item"><a href="#" class="navigation__link"><span>01</span>About Me</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link"><span>02</span>Potforlio</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link"><span>03</span>Resume</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link"><span>04</span>Contact Me</a></li>
			</ul>
		</nav>
	</div>
block landing-header
	<header class="header">
		<div class="header__side header__side--front">
			<div class="container">
				<div class="bird-container bird-container--one">
					<div class="bird bird--one"></div>
				</div>
				
				<div class="bird-container bird-container--two">
					<div class="bird bird--two"></div>
				</div>
				
				<div class="bird-container bird-container--three">
					<div class="bird bird--three"></div>
				</div>
				
				<div class="bird-container bird-container--four">
					<div class="bird bird--four"></div>
				</div>
				<svg viewBox="0 0 1418 116" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="name">
					<g stroke="none" fill="none" fill-rule="evenodd" fill-opacity="0">
						<text id="ZiyueHu" stroke="#fff" fill="#645F5A" font-weight="normal" font-family="PermanentMarker-Regular, Permanent Marker" font-size="144">
							<tspan x="3" y="109">
								<tspan>Z</tspan>
								<tspan>i</tspan>
								<tspan>y</tspan>
								<tspan>u</tspan>
								<tspan>e</tspan>
								<tspan>&nbsp;</tspan>
								<tspan>H</tspan>
								<tspan>u</tspan>
							</tspan>
						</text>
					</g>
				</svg>
				<div class="container-plane" onClick="changeTextOver('about')">
					<div id="lside"></div>
					<div id="rside"></div>
					<div id="lwing"></div>
					<div id="rwing"></div>
				</div>
				
				<svg viewBox="0 0 1418 116" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="intro">
					<g stroke="none" fill="none" fill-rule="evenodd" fill-opacity="0">
						<text id="ddd" stroke="#fff" fill="#645F5A" font-weight="normal" font-family="PermanentMarker-Regular, Permanent Marker" font-size="44">
							<tspan x="3" y="109">
								<tspan>D</tspan>
								<tspan>e</tspan>
								<tspan>v</tspan>
								<tspan>e</tspan>
								<tspan>l</tspan>
								<tspan>o</tspan>
								<tspan>p</tspan>
								<tspan>e</tspan>
								<tspan>r</tspan>
								<tspan>&nbsp;</tspan>
								<tspan>D</tspan>
								<tspan>e</tspan>
								<tspan>s</tspan>
								<tspan>i</tspan>
								<tspan>g</tspan>
								<tspan>n</tspan>
								<tspan>e</tspan>
								<tspan>r</tspan>
								<tspan>&nbsp;</tspan>
								<tspan>D</tspan>
								<tspan>r</tspan>
								<tspan>e</tspan>
								<tspan>a</tspan>
								<tspan>m</tspan>
								<tspan>e</tspan>
								<tspan>r</tspan>
							</tspan>
						</text>
					</g>
				</svg>
			</div>
		</div>
		<div class="header__side header__side--back">
			<div class="logo" onClick="changeTextOver('home')">
					<div id="lside"></div>
					<div id="rside"></div>
					<div id="lwing"></div>
					<div id="rwing"></div>
			</div>
			<div class="header__intro-box">
				<h1 class="heading-intro">Hi. I'm Ziyue</h1>
				<h1 class="heading-intro">a graduate student at UC San Diego</h1>
				<h1 class="heading-intro">with major in Computer Science.</h1>
				<h1 class="heading-intro">I'll be graduating in December'18.</h1>	
			</div>
			<div class="header__details">
				<p class="introduction">I'm passionate about building easy to use, user-friendly websites and applications. My best assets are my creativity, my feeling with technology and my passion. </p>
			</div>
		</div>
		<section class="hover-btn hover-btn__about" onclick="smoothScroll('about')" >
			<a>
				<span class="text">About</span>
				<span class="line -right"></span>
				<span class="line -top"></span>
				<span class="line -left"></span>
				<span class="line -bottom"></span>
			</a>
		</section>
		<section class="hover-btn hover-btn__projects" onclick="smoothScroll('projects')">
			<a>
				<span class="text">Projects</span>
				<span class="line -right"></span>
				<span class="line -top"></span>
				<span class="line -left"></span>
				<span class="line -bottom"></span>
			</a>
		</section>
		<section class="hover-btn hover-btn__designs" onclick="smoothScroll('designs')">
			<a>
				<span class="text">Designs</span>
				<span class="line -right"></span>
				<span class="line -top"></span>
				<span class="line -left"></span>
				<span class="line -bottom"></span>
			</a>
		</section>
		<section class="hover-btn hover-btn__resume" onclick="smoothScroll('resume')">
			<a>
				<span class="text">Resume</span>
				<span class="line -right"></span>
				<span class="line -top"></span>
				<span class="line -left"></span>
				<span class="line -bottom"></span>
			</a>
		</section>
		<section class="hover-btn hover-btn__contact" onclick="smoothScroll('contact')">
			<a>
				<span class="text">Contact</span>
				<span class="line -right"></span>
				<span class="line -top"></span>
				<span class="line -left"></span>
				<span class="line -bottom"></span>
			</a>
		</section>
	</header>
block section-project
	<main>
		<section class="section-project">
			<div class="dotstyle dotstyle-tooltip u-text-centered u-margin-bottom-small">
				<ul>
					<li class="current" id="anchor-natours"><a href="#">Natours</a></li>
					<li id="anchor-yelpdemo"><a href="#">YelpDemo</a></li>
					<li id="anchor-little-things"><a href="#">Little Things</a></li>
					<li><a href="#">Portfolio</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
			
			<div class="project-box" id="natours">
				<div class="next-arrow right-next" onclick="nextProject('natours')">
					<i class="fas fa-angle-right fa-7x"></i>
				</div>
				<div class="next-arrow left-next" onclick="prevProject('natours')">
					<i class="fas fa-angle-left fa-7x"></i>
				</div>
				<div class="display-box" onclick="navToProject('natours')">
					<div class="display-box__textbox">
						<h3 class="project-title">Natours</h3>
						<p class="project-key">CSS3, SASS, HTML5</p>
					</div>
				</div>
			</div>

			<div class="project-box" id="yelpdemo">
				<div class="next-arrow right-next" onclick="nextProject('yelpdemo')">
					<i class="fas fa-angle-right fa-7x"></i>
				</div>
				<div class="next-arrow left-next" onclick="prevProject('yelpdemo')">
					<i class="fas fa-angle-left fa-7x"></i>
				</div>
				<div class="display-box" onclick="navToProject('yelpdemo')">
					<div class="display-box__textbox">
						<h3 class="project-title">YelpDemo</h3>
						<p class="project-key">CSS3, SASS, HTML5</p>
					</div>
				</div>
			</div>

			<div class="project-box" id="little-things">
				<div class="next-arrow right-next" onclick="nextProject('little-things')">
					<i class="fas fa-angle-right fa-7x"></i>
				</div>
				<div class="next-arrow left-next" onclick="prevProject('little-things')">
					<i class="fas fa-angle-left fa-7x"></i>
				</div>
				<div class="display-box" onclick="navToProject('little-things')">
					<div class="display-box__textbox">
						<h3 class="project-title">little-things</h3>
						<p class="project-key">CSS3, SASS, HTML5</p>
					</div>
				</div>
			</div>
		</section>
	</main>

