<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ziyue Hu</title>
	<link rel='stylesheet', href='/stylesheets/style.css'>
	<link rel='stylesheet', href='/stylesheets/component.css'>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="/javascripts/landing-page.js"></script>
	<script src="/javascripts/modernizr.min.js"></script>
	<script src="/javascripts/dots.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
	
</head>
<body>
	block navigation
	block landing-header
	block section-project
	
</body>

</html>


    
